.App {
  text-align: center;
  background-color: lavender;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lavender;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

button {
  border-radius: 10px;
  background-color: gray;
  color: lavender;
  border: 2px solid lavender;
  width: 6vw;
  height: 4vh;
  /* margin-top: 2%; */
}

input {
  width: 14vw;
  height: 4vh;
  border-radius: 8%;
}

.bottom {
  margin-bottom: 2%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
